<section class="key-card">
  <a href="/meshcard/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">

      <p>Username: {{username}}</p>
      <p>Call Category: {{call_category}}</p>
      <p>Keywords: {{call_keywords}}</p>
      
      {{!-- <p>Offer Category: {{offer_category}}</p>
      <p>Keywords: {{offer_keywords}}</p> --}}
    </div>
  </a>
</section>