{{!-- This div is for the top box. I've separated it into two separate divs; two buttons for one and then an ordered list for the others --}}

 <div>
    <h1>Create New Meshcard</h1>

    <div>
      <button>ADD TO MESHBOARD</button>
      <button>REMOVE MESH CARD</button>
      <button>LOGOUT</button>
      <button>DELETE MEMBER</button>
    </div>

{{!-- This div is for the three columns (member details, call or ask, and offer) --}}

<div>

{{!-- first card (member details) --}}
  <div class="d-inline-flex">
  <div class="d-inline-flex">
    <h2>
      Contact Info
    </h2>
  </div>
    <div>
      <ul>
        <li>
          First Name: {{first_name}}
        </li>
        <li>
          Last Name: {{last_name}}
        </li>
        <li>
          Email: {{email}}
        </li>
        <li>
          School-Program: {{school_and_program}}
        </li>
        <li>
          Posted on: {{date_created}}
        </li>
      </ul>
    </div>
  </div>
</div>

{{!-- second card (call or ask) --}}
  <div>
    <h2>Call</h2>
    <ul>
      <li>
        <select>
          <option value="category" placeholder="Category"/>Pick Call Category</option>
        </select>
      </li>
      <li>
        <label>
          <input type="text" placeholder="Call Keywords (25 char)"/>
        <label>
      </li>
      <li>
Call Description (150 char)
         <textarea>
        </textarea>
      </li>
    </ul>
  </div>

{{!-- third card (offer) --}}
  <div>
    <h2>Offer</h2>
    <ul>
      <li>
        <select>
          <option value="category" placeholder="Category"/>Pick a category</option>
        </select>
      </li>
      <li>
        <label>
          <input type="text" placeholder="Offer Keywords (25 char)"/>
        <label>
      </li>
      <li>
 Offer Description (150 char)
         <textarea>
        </textarea>
      </li>
    </ul>
    <button>Save</button>
  </div>

</div>

<script src="./js/logout.js"></script>