{{!-- shows the meshcard that is displayed once a card is clicked --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="d-inline-block mesh-card">
  <div class="mesh-card-header">
    <!-- Below we are rendering the name of one mesh card using a Handlebars.js expression -->
    {{member_id}}
  </div>
</div>

{{!-- Add comment field --}}
<div class="comment-field">
    <form>
        Name: <input type="text" name="username">
    </form>

    <textarea maxlength="150">
        Add a comment (up to 150 characters)
    </textarea>
    
    <input type="submit">
</div>

{{!-- MESHCARD DETAILS: all card details will be listed here, both CALL and OFFER--}}

<div>
  {{offer_description}}
</div>
<br>
{{!-- MEMBER DETAILS --}}
<div class="contact-info-container">
  <div>
    <h2>
      Contact Info
    </h2>
  </div>
    <div>
      <ul>
        <li>
          First Name: {{member.first_name}}
        </li>
        <li>
          Last Name: {{member.last_name}}
        </li>
        <li>
          Email: {{member.email}}
        </li>
        <li>
          School-Program: {{member.school_and_program}}
        </li>
        <li>
          Posted on: {{member.date_created}}
        </li>
      </ul>
    </div>
  </div>
</div>
{{!-- EXISTING COMMENTS --}}
<div>
  {{offer_description}}
</div>
{{!-- Buttons div: Add comment, update comment, save comment, mesh board, logout --}}
<div class="buttons">
    <button>Add Comment</button>
    <button>Update Comment</button> 
    <button>Save Comment</button>
    <button>Go back to Meshboard</button>
    <button>Logout</button>
</div>